header {
  
  background-image: url(../assets/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  
  img:nth-child(2) {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 10px;
  }

}

#intro {

  flex-direction: column;
  align-items: center;
  gap: 80px;
  
}

#intro-info { 
  
  width: 680px;
  flex-direction: column;
  align-items: center;

  div:nth-child(1) {
    position: relative;

    img:nth-child(1) {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 2px solid #E3646E;
      padding: 5px;
    }
  
    img:nth-child(2) {
      width: 32px;
      height: 32px;
      position: absolute;
      bottom: 1px;
      right: 1px;
    }
  }

  p:nth-child(2) {
    margin-top: 56px;
    font: var(--subtitle);
    color: var(--gray-200);
  }

  p > span {
    color: #E3646E;
  }

  h1 {
    margin-top: 8px;
    font: var(--title-lg);
    color: var(--gray-100);
  }

  p:nth-child(4) {
    margin-top: 20px;
    font: var(--text-sm);
    color: var(--gray-300);
  }

}

#intro-tech {

  ul {
    flex-direction: row;
    gap: 16px;
  }

  li {
    background-color: var(--gray-400);
    border-radius: 20px;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    font: var(---text-md);
    color: var(--gray-200);
  }

}